.App {
  text-align: center;
}

h1 {
  margin-top: 17%;
  font-size: 4em;
  color: #7e7e7e
}

.logo {
  display: flex;
  margin-top: 2%;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-left: 60%;
  margin-top: 2%;
}

.quarks {
  margin-left: 20px;
  font-size: 3em;
  text-decoration: none;
  font-weight: bold;
  color: #ff8146
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
}

a :visited {
  color: #ff8146
}

a:hover {
  color: #ff8146;
}

a:active {
  color: #2c2c2c;
}

.nav>li {
  margin-left: 150px;
  text-decoration: none;
}

.home {
  margin-top: 1%;
}

.date {
  position: relative;
}

.datedisp {
  position: absolute;
  top: 20px;
  right: 150px;
  font-size: 20px;
}

.buttondisp {
  position: absolute;
  top: 70px;
  right: 110px;
}

button {
  background-color: #ff8146;
  /* Green */
  border: none;
  color: white;
  padding: 16px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

p {
  font-size: 1em;
  color: #535353
}

.clock {
  position: absolute;
  top: 40%;
  left: 33%;
  font-size: 6em;
}

.search {
  position: absolute;
  top: 22%;
  left: 35%;
  width: 30%;
  padding: 1em;
  border: #696969 solid 1px;
  font-size: 1.1em;
  color: #e26f39;
  text-align: center;
}

.btnsearch {
  position: realtive;
  top: 50%;
  left: 30%;
}

.imgdisp {
  margin: 15%
}

.image {
  width: 20%;
  height: 20%;
}